$green: #00ff00;
$blue: #0000ff;
$pink: #e839b3;
$gray: #dedede;
$graySecondary: #e6e6e6;
$grayPrimary: #525252;
$mockProgressTime: 4000;
@font-face {
  font-family: "FSLola";
  src: url("../fonts/fslola.eot");
  src: url("../fonts/fslola.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola.woff2") format("woff2"),
    url("../fonts/fslola.woff") format("woff"),
    url("../fonts/fslola.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSLola-Extra-Bold";
  src: url("../fonts/fslola-extrabold.eot");
  src: url("../fonts/fslola-extrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola-extrabold.woff2") format("woff2"),
    url("../fonts/fslola-extrabold.woff") format("woff"),
    url("../fonts/fslola-extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FSLola-Bold";
  src: url("../fonts/fslola-bold.eot");
  src: url("../fonts/fslola-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola-bold.woff2") format("woff2"),
    url("../fonts/fslola-bold.woff") format("woff"),
    url("../fonts/fslola-bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FSLola-Extra-Bold-Italic";
  src: url("../fonts/fslola-extrabolditalic.eot");
  src: url("../fonts/fslola-extrabolditalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fslola-extrabolditalic.woff2") format("woff2"),
    url("../fonts/fslola-extrabolditalic.woff") format("woff"),
    url("../fonts/fslola-extrabolditalic.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "FSLola-Medium";
  src: url("../fonts/fslola-medium.eot");
  src: url("../fonts/fslola-medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola-medium.woff2") format("woff2"),
    url("../fonts/fslola-medium.woff") format("woff"),
    url("../fonts/fslola-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@keyframes button-pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

@keyframes button-pulse-xl {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

@keyframes arrow-pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes arrow-down-pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.button-pulse {
  animation-name: button-pulse;
}
.arrow-pulse {
  animation-name: arrow-pulse;
}
.arrow-down-pulse {
  animation-name: arrow-down-pulse;
}

.animated {
  animation-duration: 1s;

  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.bg-blue {
  background: $blue;
}
.bg-green {
  background: $green;
}
.bg-pink {
  background: $pink;
}
.text-blue {
  color: $blue;
}
.text-green {
  color: $green;
}
.text-pink {
  color: $pink;
}
.text-gray {
  color: $grayPrimary;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mt-40 {
  margin-top: 40px !important;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  height: 100%;
  font-family: "FSLola", serif;
}

h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h2 {
  position: relative;
  pointer-events: none;
  white-space: nowrap;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "FSLola-Bold", serif;
  font-size: 30px;
  margin-bottom: 40px;
  text-shadow: 0px 1px 0px #000000;
  span {
    display: inline-block;
    padding: 10px 25px;
  }
}

h3 {
  font-size: 26px;
  font-family: "FSLola-Medium", serif;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

h2,
.cta-wrapper {
  z-index: 3;
}

.cta-wrapper {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0%);
  .promo-button {
    margin: 0 auto 15px auto;
    padding: 5px 10px;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: $blue;
  color: #ffffff;
  border: 4px solid #201c17;
  text-decoration: none;
  font-size: 17px;
  font-family: FSLola-Bold, serif;
  padding: 10px 40px;
  white-space: nowrap;

  &.pink {
    background-color: $pink;
  }
  &:hover {
    color: #ffffff;
  }
  &:focus {
    outline: none;
  }
  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: 100%;
    top: 12px;
    left: 5px;
    z-index: 1;
    border: 10px solid #201c17;
    border-top: 0;
    border-left: 0;
  }
}

.page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  color: #000000;
}

.d-flex {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
.page-padding {
  padding: 0 5%;
}
header {
  height: 50px;
  z-index: 10;

  top: 25px;

  .logo-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    .logo {
      max-width: 150px;
      .blue {
        fill: $blue;
      }
      .green {
        fill: $green;
      }
      .pink {
        fill: $pink;
      }
      .white {
        fill: #ffffff;
      }
      .dark {
        fill: #201c17;
      }
      .subclaim {
        &.inverted {
          * {
            fill: #000000;
          }
        }
      }
    }
  }
  .age-selector-wrapper {
    flex: 0 0 50%;
    max-width: 150px;
    .age-selector-header {
      &.inverted {
        color: #000000;
      }
    }
  }
}
header,
.footer {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
}
.footer {
  display: none;
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
  height: 64px;
  transition: all 0.3s ease;
  .social {
    display: none;
  }
  .links {
    display: none;
    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  a {
    display: inline-block;
  }
  > div {
    flex: 0 0 20px;
    max-width: 20px;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
      flex: 0 0 auto;
      max-width: none;
    }
  }
  svg {
    fill: #000000;
    width: 20px;
    height: 20px;
  }
}
img {
  width: 100%;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.text-center {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  &:hover,
  &:active {
    color: inherit;
  }
}

.age-selector {
  font-family: "FSLola-Bold", serif;
  font-size: 12px;
  &-header {
    text-align: center;
    color: #ffffff;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 5px;
  }
  &-toggle {
    height: 22px;
    flex: 0 0 100%;

    color: $blue;
    border-radius: 20px;
    background: $gray;
    div {
      flex: 0 0 50%;
      max-width: 50%;
      height: 100%;
      border-radius: inherit;
    }
    a {
      height: 100%;
    }
    .thumb {
      transition: all 0.3s ease;
      background: $green;
    }
  }
}

main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
section {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .dimmed {
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &[data-section-name="start"] {
    h2 {
      font-size: 22px;
      text-shadow: none;
      .bg-pink {
        padding-right: 75px;
      }
    }
    align-items: flex-end;
    background: url(../img/bg-xs.jpg) no-repeat center center;
    background-size: cover;
    &.young {
      background: url(../img/bg-young-xs.jpg) no-repeat center top;
      background-size: cover;
    }
  }

  &.video-section {
    h2 {
      margin: 115px 0 0 28px;
      span {
        padding: 0;
      }
    }
    align-items: flex-start;
  }
  &[data-section-name="jezioro"] {
    background: url(../img/bg-jezioro-xs.jpg) no-repeat center center;
    background-size: cover;
  }
  &[data-section-name="jedzenie"] {
    background: url(../img/bg-jedzenie-xs.jpg) no-repeat center center;
    background-size: cover;
  }
  &[data-section-name="kino"] {
    background: url(../img/bg-kino-xs.jpg) no-repeat center center;
    background-size: cover;
  }
  &[data-section-name="benefits"] {
    background: $graySecondary;

    .content-wrapper {
      width: calc(100% - 70px);
      margin-top: 95px;
      height: calc(100% - 195px);
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
    h2 {
      color: #000000;
      margin: 0;
      text-shadow: none;
      span {
        padding: 0;
      }
    }
    .claim-wrapper {
      height: 100%;
      flex-direction: column;
    }

    .price {
      width: 60%;
      max-width: 524px;
    }
    .claim {
      text-align: center;

      span {
        &:nth-of-type(1) {
          line-height: 0.9;
          font-size: 180px;
        }
        &:nth-of-type(2) {
          font-size: 58px;
          color: $blue;
          text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
        }
        &:nth-of-type(3) {
          font-size: 34px;
        }
      }
    }
    .list-wrapper {
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-height: 50%;
    }
    ul {
      font-family: "FSLola-Medium", serif;
      padding: 0;
      margin: 0;
      list-style: none;
      color: #000000;
      font-size: 17px;
      height: 100%;
      li {
        position: relative;
        margin-left: 1em;
        margin-bottom: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
        &:before {
          content: "";
          position: absolute;
          top: 7px;
          left: -12px;
          width: 5px;
          height: 5px;
          background: $blue;
        }
      }
    }
  }

  &[data-section-name="gips"] {
    background: url(../img/bg-gips-xs.jpg) no-repeat center center;
    background-size: cover;
    align-items: flex-end;
    h2 {
      margin: 0 0 115px 35px;
    }
  }
  &[data-section-name="piatka"] {
    background: url(../img/bg-piatka-xs.jpg) no-repeat center center;
    background-size: cover;
    .cta-wrapper {
      .promo-button {
        display: block;
        margin: 0 auto 15px auto;
      }
    }
  }

  &[data-section-name="disclaimer"] {
    background: $graySecondary;
  }
}
.swiper-pagination {
  display: none;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: $gray;
  &:focus,
  &:visited {
    outline: none;
  }
}

.swiper-pagination-bullet-active {
  background: $green;
}

.chevron {
  .black {
    fill: #000000;
  }
  .green {
    fill: $green;
  }
  .blue {
    fill: $blue;
  }
  &.flip-180 {
    transform: rotate(180deg);
  }
  &.flip-90 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 25px;
    height: 28px;
    transform: translate(-50%, 0);
  }
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: 0;

  &:focus,
  &:visited {
    outline: none;
  }
  &:after {
    display: none;
  }
  &.swiper-button-disabled {
    display: none;
  }
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 2%;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 2%;
  left: auto;
}

.larger {
  font-size: 43px;
}
.extra-bold {
  font-family: "FSLola-Extra-Bold", serif;
}
.legal {
  width: calc(100% - 80px);
  margin-top: 100px;
  height: calc(100% - 130px);
  flex-direction: column;
  justify-content: space-around;
  font-size: 10px;
  p {
    margin: 0 0 10px 0;
    &:last-of-type {
      margin: 0;
    }
  }
  a {
    color: $blue;
  }
  .links {
    color: #000000;
    font-size: 14px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
        a {
          color: inherit;
        }
      }
    }
  }
  .copy {
    height: 55%;
    overflow: auto;
  }
}

.hidden-xs {
  display: none !important;
}

.visible-xs {
  display: block !important;
}

.video-wrapper {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: $gray;
  z-index: 10;

  span {
    background: $green;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.mock-progress {
    span {
      width: 100%;
      transition: all #{$mockProgressTime}ms linear;
    }
  }
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 28, 23, 0.7);
  z-index: 100;

  .modal {
    width: 80%;
    max-width: 768px;
    padding: 5%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    text-transform: uppercase;
    font-family: "FSLola-Medium", serif;
    font-size: 28px;
    &-header {
      padding-bottom: 45px;
    }
    &-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .button {
        margin-bottom: 20px;
      }
    }
  }
  .bolder {
    font-family: "FSLola-Bold", serif;
  }
  &.interactive {
    background: none;
    display: none;
    .cover {
      position: absolute;
      background: rgba(32, 28, 23, 0.7);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    h3 {
      font-family: "FSLola", serif;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 1.1;
    }
    h4 {
      font-size: 22px;
    }
    h5 {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .modal {
      height: 100%;
      display: none;
      font-size: 12px;
      text-transform: none;
      padding: 0px;
      max-height: 80%;
      min-height: 80%;

      overflow: hidden;
      max-width: 855px;
      line-height: 1.2;

      z-index: 2;
      .close {
        font-family: "FSLola-Bold", serif;
        font-size: 20px;

        margin-right: 10px;
        background: none;
        padding: 0;
        outline: none;
        border: none;
        cursor: pointer;
      }
      &-wrapper {
        padding: 0 20px 20px 20px;
        overflow-y: auto;
        height: calc(100% - 30px);
      }
      &-body {
        color: $grayPrimary;
        .col-header {
          color: #000000;
          font-family: "FSLola-Bold", serif;
          font-size: 17px;
          margin-bottom: 10px;
        }

        [class^="col-"] {
          margin-bottom: 10px;
        }
      }
      &-header {
        padding-bottom: 0px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      small {
        font-size: 12px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          span {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 4px;
              left: -8px;
              width: 4px;
              height: 4px;
              background: $blue;
            }
          }
        }
      }
      img {
        width: 100%;
        max-width: 100px;
        margin-bottom: 10px;
      }
    }
  }
}
.mock {
  .section-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
}
.please-rotate {
  z-index: 101;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  svg {
    fill: white;
    width: 100px;
    height: 100px;
    &.desktop-icon {
      display: none;
    }
  }
  div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  &-icon {
    margin-bottom: 10px;
    width: 64px;
    * {
      fill: white;
    }
  }
}

.loader {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

  width: 64px;
  height: 64px;
  div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      background: $blue;
      left: 6px;
      animation: ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      background: $green;
      left: 6px;
      animation: ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      background: $pink;
      left: 26px;
      animation: ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      background: $blue;
      left: 45px;
      animation: ellipsis3 0.6s infinite;
    }
  }
}

[data-promo-button] {
  display: block !important;
}
.hidden {
  display: none !important;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-4 {
  flex: 0 0 33%;
  max-width: 33%;
}
.col-6 {
  flex: 0 0 66%;
  max-width: 66%;
}
.video-wrapper {
  display: none;
}
@media (min-width: 560px) {
  header {
    height: 95px;
    .age-selector-wrapper {
      flex: 0 0 70%;
      max-width: 450px;
    }
  }
  .age-selector {
    font-size: 18px;
    &-header {
      margin-bottom: 0px;
    }
    &-header {
      text-align: right;
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 10px;
    }
    &-toggle {
      height: 38px;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  section {
    position: relative;
    &[data-section-name="start"] {
      align-items: center;
      h2 {
        font-size: 35px;
        .bg-pink {
          padding-right: 100px;
        }
      }
    }
    &.video-section {
      h2 {
        margin-top: 215px;
      }
    }
    &[data-section-name="benefits"] {
      .content-wrapper {
        margin-top: 115px;
        height: calc(100% - 240px);
      }

      .claim {
        span {
          &:nth-of-type(1) {
            line-height: 0.9;
            font-size: 180px;
          }
          &:nth-of-type(2) {
            font-size: 58px;
          }
          &:nth-of-type(3) {
            font-size: 34px;
          }
        }
      }
      .list-wrapper {
        overflow: auto;
        height: 55%;
      }
      ul {
        margin: 0;

        li {
          margin-bottom: 5px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &[data-section-name="gips"] {
      h2 {
        margin: 0 0 200px 28px;
      }
    }
  }

  h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  .footer {
    display: flex;
  }

  .cta-wrapper {
    bottom: 85px;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .col-sm-6 {
    flex: 0 0 66%;
    max-width: 66%;
  }
}

@media (min-width: 768px) {
  .hidden-md {
    display: none !important;
  }
  .visible-md {
    display: block !important;
  }

  .legal {
    font-size: 13px;
    p {
      margin: 0 0 10px 0;
      &:last-of-type {
        margin: 0;
      }
    }

    .copy {
      height: 75%;
    }
  }
  .footer {
    .social {
      align-items: center;
      display: flex;
    }
    &.inverted {
      transition: all 0.3s ease;
      background: white;
      color: #000000;
      .links {
        display: flex;
      }
      .copyright {
        display: none;
      }
      .social {
        display: flex;
        svg {
          height: 28px;
          fill: #000000;
        }
      }
    }
    &.no-links {
      transition: all 0.3s ease;
      background: white;
      color: #000000;
      .links {
        display: none;
      }
      .copyright {
        display: block;
      }
      .social {
        display: flex;
        svg {
          height: 28px;
          fill: #000000;
        }
      }
    }
  }
  section {
    &[data-section-name="benefits"] {
      .claim-wrapper {
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        margin: auto 0;
        justify-content: center;
      }
      .claim {
        text-align: right;
      }
      .claim,
      .list-wrapper {
        flex: 0 45%;
        max-width: 45%;
      }
      .list-wrapper {
        max-height: 100%;
      }
      ul {
        height: auto;
      }
    }

    &[data-section-name="jezioro"] {
      background: url(../img/bg-jezioro.jpg) no-repeat center center;
      background-size: cover;
    }
    &[data-section-name="jedzenie"] {
      background: url(../img/bg-jedzenie.jpg) no-repeat center center;
      background-size: cover;
    }
    &[data-section-name="kino"] {
      background: url(../img/bg-kino.jpg) no-repeat center center;
      background-size: cover;
    }

    &[data-section-name="gips"] {
      background: url(../img/bg-gips.jpg) no-repeat center center;
      background-size: cover;
      align-items: flex-end;
      h2 {
        margin: 0 0 115px 35px;
      }
    }
    &[data-section-name="piatka"] {
      background: url(../img/bg-piatka.jpg) no-repeat center center;
      background-size: cover;
    }
  }
  .social {
    svg {
      fill: white;
      width: 20px;
      height: 28px;
    }
  }
  .overlay {
    .modal {
      &-footer {
        .button {
          margin-bottom: 0px;
        }
      }
    }
    &.interactive {
      .modal {
        max-height: 570px;
        min-height: 570px;
        &-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .col-md-6 {
    flex: 0 0 66%;
    max-width: 66%;
  }

}

@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }

  .hidden {
    display: none !important;
  }

  



}

@media (min-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-pagination {
    display: block;
  }
  .hidden-xl {
    display: none !important;
  }
  .visible-xl {
    display: block !important;
  }

  .cta-wrapper {
    bottom: 75px;
    transform: translate(-50%, -10%);
    font-size: 25px;
  }
  section {
    &[data-section-name="start"] {
      background: url(../img/bg.jpg) no-repeat right center;
      background-size: cover;
      &.young {
        background: url(../img/bg-young.jpg) no-repeat center center;
        background-size: cover;
      }
    }
    
   

    &[data-section-name="piatka"] {
      .cta-wrapper {
        transform: translate(-50%, 0%);
      }
    }
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 75px;
  }

  .legal {
    .copy {
      height: auto;
      overflow: auto;
    }
  }
}

@media (min-width: 1600px) {
  h2 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-left: 0;
    span {
      padding: 20px 80px;
    }
  }

  section {
    &[data-section-name="start"] {
      h2 {
        font-size: 50px;
        .bg-pink {
          padding-right: 200px;
        }
      }
      background: url(../img/bg.jpg) no-repeat right center;
      background-size: cover;
    }
    &.video-section {
      align-items: center;
      h2 {
        margin-top: 0;
        font-size: 75px;
      }
    }
    &[data-section-name="benefits"] {
      h2 {
        span {
          padding: 0;
        }
      }
      .content-wrapper {
        height: calc(100% - 300px);
        .headers-wrapper {
          text-align: center;
        }

        ul {
          font-size: 27px;
        }
      }
      .price {
        width: 75%;
      }

      ul {
        li {
          &:before {
            top: 10px;
            left: -15px;
            width: 7px;
            height: 7px;
          }
        }
      }
    }

    &[data-section-name="piatka"],
    &[data-section-name="gips"] {
      h2 {
        margin: 0 0 0 28px;
      }
    }
    &[data-section-name="piatka"] {
      .cta-wrapper {
        button {
          margin: 0 auto 20px auto;
        }
      }
    }
  }

  .larger {
    font-size: 120px;
  }

  .legal {
    height: 100%;
    margin-top: 0;
    width: 75%;
  }

  .button {
    font-size: 24px;
  }
  .overlay {
    &.interactive {
      h3 {
        font-size: 37px;
        margin-top: 0;
      }
      h4 {
        font-size: 28px;
      }
      h5 {
        font-size: 15px;
        margin-bottom: 5px;
      }
      .modal {
        max-height: 620px;
        min-height: 620px;
        font-size: 15px;
        ul {
          li {
            span {
              &:before {
                content: "";

                top: 6px;
                left: -8px;
                width: 4px;
                height: 4px;
                background: $blue;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  section {
    &[data-section-name="benefits"] {
      ul {
        li {
          margin-left: 1em !important;
        }
      }
    }
  }
}
